.form {
    max-width: 34rem;
    margin-inline: auto;
    margin-block: 4rem;
    display: flex;
}

.form_input-number {
    width: 100%;
    border: none;
    padding: 0.8rem 1.2rem;
    border-start-start-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
    font-weight: 600;
}

.form_input-submit {
    border: none;
    background-color: var(--lime-color);
    font-weight: 600;
    color: var(--white-color);
    padding: 1rem 2rem;
    border-start-end-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    cursor: pointer;
}

.form_input-submit:active {
    transform: scale(0.98);
}

@media (min-width: 768px){
    .form {
        margin-block: 6rem;
    }
}