.resident {
    background: var(--bg-card-color);
    border-radius: 0.5rem;
    max-width: 28rem;
    overflow: hidden;
    transition: all 1s ease;
}

.resident__figure img{
    object-fit: cover;
    aspect-ratio: 1;
}

.resident__figure {
    position: relative;
}

.resident__figure--figcaption {
    position: absolute;
    inset-block-start: 2rem;
    background-color: var(--bg-card-color);
    padding-inline: 1rem;
    min-width: 9rem;
    border-end-end-radius: 0.6rem;
    border-start-end-radius: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.resident__status-circle {
    width: 1.2rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--gray-color);
}

.resident__status-circle--alive {
    background-color: var(--green-color);
}

.resident__status-circle--dead {
    background-color: var(--red-color);
}

.resident__name {
    text-align: center;
    border-block-end: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding-block: 1rem;
}

.resident__info {
    padding-block-end: 2rem;
    padding-inline: 2rem;
}

.resident__list {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resident__item {
    display: flex;
    flex-direction: column;
}

.resident__item-label {
    color: var(--gray-color);
}

.resident__item-value {
    font-weight: 500;
}

@media (min-width: 768px){
    .resident {
        min-width: 28rem;
    }
}